asgiref
boto3
botocore
Brotli
click
colorama
dj-database-url
Django
django-storages
djangorestframework
gunicorn
h11
jmespath
packaging
pillow
psycopg2-binary
python-dateutil
python-decouple
s3transfer
six
sqlparse
typing_extensions
tzdata
urllib3
uvicorn
whitenoise