{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'static/styles.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body style="background-color: rgb(71, 67, 76);">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-5 mx-auto">
                <div id="second">
                    <div class="myform form " style=" background-color: white; padding: 30px; border-radius: 15px; margin: 10px -100px 10px -100px;">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1 style="color:rgb(71, 67, 76)">Add Item</h1>
                            </div>
                        </div>
                        <form action="add-item" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group" style="color:rgb(71, 67, 76)">
                                <label for="exampleInputEmail1">Category</label>
                                <br>
                                <select name="category" id="category" style="padding: 8px; border-radius: 5px; width: 100%;">
                                    <option value="" selected disabled hidden>Select</option>
                                    <option value="Shirts">Clothing - Shirts</option>
                                    <option value="Pants">Clothing - Pants</option>
                                    <option value="Innerwear">Clothing - Innerwear</option>
                                    <option value="Jeans">Clothing - Jeans</option>
                                    <option value="Jackets">Clothing - Jackets</option>
                                    <option value="Socks">Accessories - Socks</option>
                                    <option value="Wallets">Accessories - Wallets</option>
                                    <option value="Belts">Accessories - Belts</option>
                                    <option value="Ties">Accessories - Ties</option>
                                    <option value="Kerchiefs">Accessories - Kerchiefs</option>
                                    <option value="Tabs">Electronics - Tabs</option>
                                    <option value="Headphones">Electronics - Headphones</option>
                                    <option value="Cables">Electronics - Cables</option>
                                    <option value="Necklaces">Jewellery - Necklaces</option>
                                    <option value="Rings">Jewellery - Rings</option>
                                    <option value="Bracelets">Jewellery - Bracelets</option>
                                    <option value="Fiction">Books - Fiction</option>
                                    <option value="Non-Fiction">Books - Non-Fiction</option>
                                    <option value="Biography">Books - Biography</option>
                                </select>
                            </div>
                            <div class="form-group" style="color:rgb(71, 67, 76)">
                                <label for="exampleInputEmail1">Brand</label>
                                <input type="text"  name="brand" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter Brand">
                            </div>
                            <div class="form-group" style="color:rgb(71, 67, 76)">
                                <label for="exampleInputEmail1">Color</label>
                                <input type="text" name="color"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Color">
                            </div>
                            <div class="form-group" style="color:rgb(71, 67, 76)">
                                <label for="exampleInputEmail1">Type</label>
                                <input type="text" name="type" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Type">
                            </div>
                            <div class="form-group" style="color:rgb(71, 67, 76)">
                                <label for="exampleInputEmail1">Size</label>
                                <br>
                                <select name="size" id="size" style="padding: 8px; border-radius: 5px; width: 100%;">
                                    <option value="" selected disabled hidden>Select</option>
                                    <option value="xsmall">XS</option>
                                    <option value="small">S</option>
                                    <option value="medium">M</option>
                                    <option value="large">L</option>
                                    <option value="xlarge">XL</option>
                                    <option value="xxlarge">XXL</option>
                                </select>
                            </div>
                            <div class="form-group" style="color:rgb(71, 67, 76)">
                                <label for="exampleInputEmail1" style="color:rgb(71, 67, 76)">Image</label>
                                <input type="file" name="image" id="additem-image"  class="form-control" aria-describedby="emailHelp" placeholder="Upload Image">
                            </div>
                            <div class="col-md-12 text-center mb-3" style="padding-top: 20px; margin-top: 20px;">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" style="border-radius: 10px;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
