{% load static %}

<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>Login</title>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <link href="{% static '/static/styles.css' %}" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body style="background-color: rgb(71, 67, 76);">
   <div class="container">
      <div class="row" style="margin-top: 130px;">
         <div class="col-md-5 mx-auto">
            <div id="first">
               <div class="myform form " style="background-color: white; padding: 50px; border-radius: 15px;">
                  <div class="logo mb-3">
                     <div class="col-md-12 text-center" style="color:rgb(71, 67, 76);">
                        <h1>Login</h1>
                     </div>
                  </div>
                  {% for msg in messages %}
                     <h3 style="color:rgb(71, 67, 76);">{{ msg }}</h3>
                  {% endfor %}
                  <form action="login" method="POST" name="login">
                     {% csrf_token %}
                     <div class="form-group" style="color:rgb(71, 67, 76);">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" name="username"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Username">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1" style="color:rgb(71, 67, 76);">Password</label>
                        <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                     </div>
                     <div class="col-md-12 text-center " style="color:rgb(71, 67, 76); margin-top: 40px;">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                     </div>
                     <div class="form-group1" style="color:rgb(71, 67, 76); margin-top: 20px; ">
                        <p class="text-center">Don't have an account? <a href="register" id="signup" style="color:rgb(71, 67, 76)">Sign up here</a></p>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
			